<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
{% for item in page.js %}
  {% if item == 'jquery' %}
    <script type="text/javscript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">$.noConflict();</script>
  {% elsif item == 'googlemaps' %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  {% else %}
    <script src="/javascripts/{{ item }}.js"></script>  
  {% endif %}  
{% endfor %}
{% for item in page.css %}
   <link rel="stylesheet" media="all" href="/stylesheets/{{ item }}.css"/>
{% endfor %}
